---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$base-font-family: "Open Sans", sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;
$orangina: rgba(230, 126, 34, 1);

$text-dark-color:       darken($orangina, 35%);
$text-color:       $orangina;
$link-color:       $orangina;
$background-color: white; // #fdfdfd;
$background-color-bottom: $orangina;
$brand-color:      white;

$grey-color: #d0d0d0;
$grey-color-light: lighten($grey-color, 15%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    600px;
$description-block-height:    289px;

$content-width-responsive: 90%;

$item-height : 55px;
$footer-height : 30px;

$on-palm:          600px;
$on-laptop:        800px;

@import "global";
@import "layout";
