---
title: Welcome
layout: default
---
<div class="page-wrap">
    <div class="top-header">
        <div class="menu">
            <h1>JavaScript events in the Netherlands</h1>
            <ul>
                <li>About</li>
                <li>Add event</li>
            </ul>
        </div>
    </div>
    <div class="header-container">
        <header>
          <div class="parts">
            <div class="logo">
              <object type="image/svg+xml" data="images/nljs.svg"></object>
            </div>
            <div class="divider">
            </div>
            <div class="description">
              <p>
                Upcoming JavaScript events, conferences and meetings in the Netherlands.
              </p>
              <p>
                Submit yours, participate and be up to date.
              </p>
            </div>
          </div>
        </header>
    </div>
    <div class="events-container">
      <div class="events">
        <dl>
            {% assign post_index = 1 %}
            {% for post in site.posts reversed %}
            {% assign postMonth = post.date | date: "%y %m" %}
            {% assign postYear = post.date | date: "%Y" %}

            {% if post_index == 1 %}
            {% assign firstPostYear = post.date | date: "%Y" %}
            {% endif %}

            {% if post_index == 1 or postMonth != previousPostMonth %}
            <dt class="month-name">
                <p>
                  {{ post.date | date: "%B" }}
                  {% if firstPostYear != postYear %}{{ postYear }}{% endif %}
                </p>
            </dt>
            {% endif %}
            {% assign previousPostMonth = post.date | date: "%y %m" %}
            <dd class="item">
                <div id="{{ post.id }}" class="item-post">
                    <div class="time">
                        <span class="wt">
                            <time datetime="{{ post.date | date: ' %Y-%m-%d ' }}">
                                <span>{{ post.date | date: "%a" }}</span>
                                <span>{{ post.date | date: "%d" }}</span>
                            </time>
                        </span> -
                        <span class="title">
                            <a href="{{ post.href }}">{{ post.title }}</a>
                        </span>
                    </div>
                    <div class="details">
                        <div class="info">
                            <span><strong>Time:</strong> {{ post.time }}</span>
                            <span><strong>Venue: </strong>{{ post.venue }}</span>
                            <span><strong>Ticket:</strong> {{ post.ticket }}</span>
                        </div>
                    </div>
                </div>
            </dd>
            {% assign post_index = post_index | plus: 1 %}
            {% endfor %}
        </dl>
      </div>
    </div>

</div>
