body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-style:normal;
  color: $text-color;
  background-color: $background-color;
  margin: 0;
}
h1 {
  font-family: $base-font-family;
  font-size: 2em;
  line-height: 1.3em;
  margin: 0 0 0.5em;
  section & {
    font-size: 1.5em;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $link-color;
}
pre,
code {
  font-family: $base-font-family;
}
a {
  color: $link-color;
  &:link,
  &:visited {
    color: darken($link-color, 10%);
  }
  &:hover {
    text-decoration: underline;
  }
}
