* {
  margin: 0;
}
html,
body {
  height: 100%;
  background-color: $secondary;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -$footer-height;
}
.page-wrap:after {
  content: "";
  display: block;
}
.footer,
.page-wrap:after {
  height: $footer-height;
}

// header with menu
.top-header {
  width: 100%;
  background-color: $secondary;
  text-align: left;
  line-height: $header-height;
  height: 3em;
  h1 a,
  h1 {
    float: left;
    margin: 0 8px 3px 8px;
    font-weight: 100;
    text-decoration: none;
    color: white;
    margin-bottom: 3px;
  }
  ul {
    padding-right: 1em;
    margin: 0;
    li {
      font-weight: 100;
      color: $text-light-color;
      display: inline;
      list-style-type: none;
      padding-right: 0.8em;
      &:last-child {
        padding-right: 0;
      }
    }
  }
  @media all and (max-width: $on-phone) {
    h1 {
      margin: 10px;
    }
  }
}

// logo + description
.header-container {
  width: 100%;
  background-color: white;
  margin: 0;
  padding: 10px;
  display: table;
  box-sizing: border-box;
  header {
    display: table-row;
    width: 100%;
    background-color: $background-primary;
    .parts {
      width: 100%;
      display: table; // haha cheat
      .logo {
        display: table-cell;
        height: auto;
        width: 100px;
        object {
          height: auto;
          width: 100%;

          // padding: 10px;
        }
      }
      .divider {
        display: none;
      }
      .description {
        display: table-cell;
        margin: 0;
        padding: 0;
        color: $link-color;

        // background-color: $grey-color;
        height: 100%;
        text-align: left;
        vertical-align: bottom;
        padding-left: 10px;
      }
    }
  }
  @media screen and (min-width: $on-palm +170) {
    padding: 20px 0;
    header {
      display: block;
      margin: 0 auto;
      width: $on-palm;
      .parts {
        display: table-row;
        .logo {
          margin: 10px;
          width: 50%;
          object {

            // padding: 0;
          }
        }
        .divider {
          border-right: 10px solid white;
          border-left: 10px solid white;
          display: table-cell;
        }
        .description {
          width: 50%;
          p {
            margin-bottom: 15px;
          }
        }
      }
    }
  }
}
.events-container {
  width: 100%;
  background-color: white;
  margin: 0 0 10px 0;
  border-top: 10px solid $secondary;

  .events {
    padding: 10px;
    dl {
      .item {
        border-bottom: 1px solid lighten($primary, 45%);
        padding-top: 5px;
        padding-bottom: 10px;
        &:last-child {
          border-bottom: 0;
        }
      }
      .month-name {
        font-weight: 100;
        color: $link-color;
        margin-top: 20px;
        &:first-child {
          margin-top: 0;
        }
      }
      .details {
        font-size: 85%;
      }
    }
  }
  @media screen and (min-width: $on-palm + 170) {
    border-top: 0;
    margin: 0 auto 10px auto;
    width: $on-palm;
    .events {
      margin-top: 20px;
      .item {
        position: relative;
        border-bottom: 1px solid lighten($primary, 45%);
        .month-name {
          position: absolute;
          left: -130px;
          top: 3px;
          font-weight: 100;
          color: white;
          div {
            width: 100px;
            text-align: right;
          }
        }
      }
    }
  }
  @media all and (max-width: $on-phone) {
    .info {
      span {
        display: block;
      }
    }
    .events {
      dl {
        .item {
          border-color: $primary;
        }
      }
    }
  }
}

.white-line-container {
  width: 100%;
  background-color: white;
  height: 10px;
  display: table;
  box-sizing: border-box;
}
.container {
  width: 100%;
  background-color: white;
  margin: 0;
  border-top: 10px solid $secondary;
  padding: 10px;
  display: table;
  box-sizing: border-box;

  .content {
    display: table-row;
    padding: 10px;
  }
  @media screen and (min-width: $on-palm + 170) {
    // border-top: 0;
    margin: 0 auto;
    width: $on-palm;
    display: block;
    padding-top: 0;
    .content {
      display: block;
      padding: 20px;
      // margin-bottom: 20px;
    }
  }
}
.footer {
  width: 100%;
  font-weight: 100;
  color: $primary;
  background-color: white;
  line-height: 1.5em;
  height: auto;
  margin-bottom: 0;
  .copy {
    margin: 0 auto;
    text-align: center;
  }
  .footer-item {
    font-size: 12px;
  }
}
