* {
    margin: 0;
}

html, body {
    height: 100%;
}

.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -$footer-height;
}

.page-wrap:after {
    content: "";
    display: block;
}

.footer, .page-wrap:after {
    height: $footer-height;
}

body {
    min-width: 450px;
    background-color: $grey-color-light;
}

.top-header {
    width: 100%;
    background-color: $grey-color;
    height: 30px;
    text-align: right;

    ul {
        margin: 0px;
        li {
            font-weight: bold;
            color: $text-dark-color;
            display: inline;
            list-style-type: none;
            padding-right: 20px;
        }
    }
}

.header-container {
    width: 100%;
    background-color: $background-color;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;

    header {
        margin: 0 auto;
        width: $content-width;
        background-color: $background-color;
        .logo {
            display: inline-block;
            width: 48%;
            height: auto;
        }
        .logoh {
            display: none;
        }
        .description {
            box-sizing: border-box;
            color: $text-dark-color;
            background-color: $grey-color;
            float: right;
            display: inline-block;
            width: 48%;
            height: $description-block-height;
            padding: 10px;
        }
    }
}

.content-container {
    padding-top: 10px;
    margin: 0 auto;
    width: $content-width;

    ul {
        margin: 0px;
        padding: 0px;
    }
    .item {
        height: $item-height;
        list-style-type: none;
        background-color: $grey-color;
        margin-bottom: 10px;

        .item-post {
            display: table-row;
        }
        .time {
            display: table-cell;
            color: $brand-color;
            vertical-align: middle;
            text-align: center;
            font-weight: bold;
            background-color: darken($grey-color, 10%);
            width: 80px;
            height: $item-height;
            font-size: 110%;
            .wt {
                width: 80px;
            }
        }

        .details {
            display: table-cell;
            padding: 5px 10px 5px 20px;
            .title {
                a {
                    width: 490px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: block;
                }
            }

            .info {
                color: $text-dark-color;
                font-size: 80%;
            }
        }
    }
    .month-name {
        font-weight: bold;
        color: $text-dark-color;
        list-style-type: none;
        margin-bottom: 2px;
    }
}

.footer {
    width: 100%;
    background-color: $grey-color;
    height: $footer-height;
    margin-bottom: 0px;
    .copy {
        margin: 0 auto;
        width: $content-width;
        text-align: center;
    }
}

@media screen and (max-width: 625px) {
    .header-container {
        header {
            width: $content-width-responsive;
            .logoh {
                display: inline-block;
                margin-top: -10px;
                margin-right: -10px;
                margin-bottom: -10px;
                float: right;
                width: 100px;
                height: 100px;
            }
            .logo {
                display: none;
            }
            .description {
                width: 100%;
                float: none;
                min-height: 100px;
                height: initial;
                padding: 10px;
            }
        }
    }
    .content-container {
        width: $content-width-responsive;
        .item .details .title a {
            width: 400px;
        }
    }
}

@media screen and (max-width: 555px) {
    .content-container {
        .item .details .title a {
            width: 360px;
        }
    }
}

@media screen and (max-width: 510px) {
    .content-container {
        .item .details .title a {
            width: 310px;
        }
    }
}